* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li,
ol li {
  text-indent: 1.25rem;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);
  --Brown-800: hsl(14, 45%, 36%);
  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  --font-young: "Young Serif", serif;
  --font-out: "Outfit", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: var(--font-out);
  line-height: 1.5;
  gap: 2rem;
  padding: 4rem;
  background-color: var(--Stone-100);
}

main {
  width: 47rem;
}

.recipe-image {
  display: block;
  width: 100%;
  border-radius: 12px;
}

.recipe-card {
  padding: 3rem;
  border-radius: 16px;
  background-color: var(--White);
}

@media (max-width: 375px) {
  main {
    width: 25rem;
  }

  body {
    padding: 0rem;
  }

  .recipe-image {
    width: 100vw;
    margin-inline: -3rem;
    margin-top: -3rem;
  }
}

/* Recipe Header */

.recipe-content {
  margin-top: 1.5rem;
}
.title {
  margin-bottom: 0.875rem;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-young);
  font-size: 2.5rem;
}

.heading {
  margin-bottom: 2rem;
  font-family: var(--font-out);
  color: var(--Stone-600);
}

/* Preparation */

.preparation {
  padding-block: 1.5rem;
  border-radius: 12px;
  font-family: var(--font-out);
  background-color: var(--Rose-50);
}

.aside-heading {
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  color: var(--Rose-800);
}

.preparation-list {
  font-size: 16px;
  padding-left: 3.2rem;
}

.preparation-item {
  margin-bottom: 0.5rem;
  color: var(--Stone-600);
}

.preparation-item::marker {
  color: var(--Rose-800);
}

/* This also applies to the ingredients-item */
.item-title {
  font-weight: var(--font-weight-medium);
  color: var(--Stone-600);
}

/* Ingredients */

.ingredients {
  margin-block: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--Stone-150);
}

/* This also applies to the aside-heading */
.section-heading {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: var(--font-young);
  font-weight: var(--font-weight-regular);
  color: var(--Brown-800);
}

.ingredients-list {
  padding-left: 1.5rem;
  color: var(--Stone-600);
}

.ingredients-item {
  margin-bottom: 0.5rem;
}

.ingredients-item::marker {
  color: var(--Brown-800);
}

/*Instructions*/

.instructions {
  margin-block: 2rem;
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--Stone-150);
}

.instructions-list {
  padding-left: 1.5rem;
  color: var(--Stone-600);
}

.instructions-item {
  padding-left: 1.5rem;
  text-indent: -0.09rem;
  margin-bottom: 0.5rem;
}

.instructions-item::marker {
  font-weight: var(--font-weight-bold);
  color: var(--Brown-800);
}

/* Nutrition */

.nutrition-info,
td {
  color: var(--Stone-600);
}

.nutrition-table,
.nutrition-table-body {
  display: block;
}

.nutrition-table-row {
  margin-block-start: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-bottom: 1px solid var(--Stone-150);
  text-align: left;
  padding-left: 2rem;
  padding-block: 0.5rem;
}
.nutrition-table th {
  color: var(--Brown-800);
}

/* Attribution */
.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
