* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

:root {
  --Light-Red: hsl(0, 100%, 67%);
  --Orange-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobal-Blue: hsl(234, 85%, 45%);

  --Light-Slate-Blue: hsl(252, 100%, 67%);
  --Light-Royal-Blue: hsl(241, 81%, 54%);

  --Violet-Blue: hsla(256, 72%, 46%, 1);
  --Persian-Blue: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-Blue: hsl(221, 100%, 96%);
  --Light-Lavander: hsl(241, 100%, 89%);
  --Dark-Gray-Blue: hsl(224, 30%, 27%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Hanken Grotesk, sans-serif;
  background-color: var(--Pale-Blue);
  color: var(--Dark-Gray-Blue);
}

.container {
  display: flex;
  align-items: center;
  border-radius: 2rem;
  box-shadow: 0 1.875rem 3.75rem rgba(61, 108, 236, 0.15);
  background-color: var(--White);
}

/* Results Summary Component */
.result {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 3rem 4.5rem;
  border-radius: 2rem;
  background: linear-gradient(180deg, #7755ff 0%, #6943ff 0.01%, #2f2ce9 100%);
}

.result-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: var(--Light-Lavander);
}

.total-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 900;
  padding: 1.5rem 2.625rem;
  margin-bottom: 3rem;
  max-width: 8.75rem;
  color: var(--White);
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  border-radius: 100%;
}

.total-score span {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--Light-Lavander);
}

.greeting {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--White);
}

.info-result {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--Light-Lavander);
  max-width: 17rem;
}

/* Summary Component */
.summary {
  display: flex;
  flex-direction: column;
  padding-block: 3rem 4.5rem;
  padding: 1.5rem 1.875rem 1.875rem;
  width: 100%;
}

.summary-title {
  margin-bottom: 1.5rem;
  color: var(--Dark-Gray-Blue);
}

.summary-scores {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.summary-icon-p {
  display: flex;
  gap: 0.75rem;
}

.continue {
  text-align: center;
  padding: 1.125em 6.875em;
  margin-top: 2rem;
  font-size: 1.125rem;
  font-weight: 700;
  width: 100%;
  color: var(--White);
  background-color: #303b59;
  border: none;
  border-radius: 100vw;
}

.continue:hover {
  background-color: var(--Light-Royal-Blue);
  transition: ease-in-out 0.3s;
}
