* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display: block;
}

:root {
  --Light-Red: hsl(0, 100%, 67%);
  --Orange-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobal-Blue: hsl(234, 85%, 45%);

  --Light-Slate-Blue: hsl(252, 100%, 67%);
  --Light-Royal-Blue: hsl(241, 81%, 54%);

  --Violet-Blue: rgb(78, 33, 202);
  --Persian-Blue: rgba(36, 33, 202, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-Blue: hsl(221, 100%, 96%);
  --Light-Lavander: hsl(241, 74%, 78%);
  --Dark-Gray-Blue: hsl(224, 30%, 27%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 1.5rem;
  font-family:
    Hanken Grotesk,
    sans-serif;
  background-color: var(--Pale-Blue);
  color: var(--Dark-Gray-Blue);
}

.container {
  display: flex;
  align-items: stretch;
  background-color: var(--White);
}

/* Results Summary Component */
.result {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 1.5rem 3.5625rem 2.75rem;
  border-radius: 2rem;
  background: linear-gradient(180deg, #532ee7 0%, #6943ff 0.01%, #2f2ce9 100%);
}

.result-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--Light-Lavander);
}

.score-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3rem 4rem;
  border-radius: 100%;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
}

.total-score {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 129%;
  color: #ffffff;
}

.target-score {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.1875;
  color: var(--Light-Lavander);
}

.greeting {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.75;
  color: var(--White);
}

.info-result {
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--Light-Lavander);
  max-width: 17rem;
}

/* Summary Component */
.summary {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1.5rem 1.875rem 1.875rem;
}

.summary-results {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.summary-title {
  margin-bottom: 1.5rem;
  color: var(--Dark-Gray-Blue);
}

.summary-scores {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.summary-icon-p {
  display: flex;
  gap: 0.75rem;
}

.category {
  font-size: 1.125rem;
  line-height: 1.5;
}

/* Reaction Component */

.Reaction {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #ff5555;
  border-radius: 0.75rem;
}

.Reaction-p {
  color: var(--Light-Red);
  font-weight: 700;
}

/* Memory Component */
.Memory {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #ff9f43;
  border-radius: 0.75rem;
}

.Memory-p {
  color: var(--Orange-yellow);
  font-weight: 700;
}

/* Attention Component */
.Verbal {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #4cd964;
  border-radius: 0.75rem;
}

.Verbal-p {
  color: var(--Green-teal);
  font-weight: 700;
}

/* Flexibility Component */
.Visual {
  background:
    linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)),
    #5856d6;
  border-radius: 0.75rem;
}

.Visual-p {
  color: var(--Cobal-Blue);
  font-weight: 700;
}

.score {
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.5;
  text-align: right;
  color: var(--Dark-Gray-Blue);
}

.total {
  opacity: 0.5;
}

.continue {
  text-align: center;
  padding: 1.125em 6.875em;
  margin-top: 2.725rem;
  font-size: 1.125rem;
  font-weight: 700;
  width: 100%;
  color: var(--White);
  background-color: #303b59;
  border: none;
  border-radius: 100vw;
}

.continue:hover {
  background-color: var(--Light-Royal-Blue);
  transition: ease-in-out 0.3s;
}
