@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  min-height: 100vh;
  gap: 20px;
  font-family: "Figtree", sans-serif;
  background-color: hsl(47, 88%, 63%);
}

.card {
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 0%);
  box-shadow: 7px 7px hsl(0, 0%, 0%);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.status {
  text-align: center;
  width: fit-content;
  padding: 10px;
  margin: 15px 0 15px;
  font-weight: 800;
  border-radius: 3px;
  background-color: hsl(47, 88%, 63%);
}

.date {
  margin: 0 0 15px;
  font-size: 1rem;
  font-weight: 500;
}

.tittle {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: 15px;
  transition: all 0.3s ease-in-out;
}

.tittle:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}

.description {
  color: hsl(0, 0%, 42%);
  font-weight: 500;
  margin-bottom: 15px;
}

.author img {
  width: 30px;
  height: 30px;
}

.author {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  font-weight: 800;
  font-size: 0.9rem;
}

.attribution {
  font-size: 0.75rem;
  font-weight: 500;
  color: hsl(0, 0%, 7%);
}

@media (max-width: 375px) {
  .card {
    width: 350px;
    margin: 10px;
  }

  img {
    width: 300px;
  }

  .date {
    font-size: 14px;
  }

  .tittle {
    font-size: 20px;
  }

  .description {
    font-size: 15px;
  }

  .author {
    font-size: 13px;
  }

  .status {
    font-size: 14px;
  }
}
